#navbar {
    background-color: darkslategray !important;
}

.nav-item {
    font-style: oblique !important;
    font-size: larger !important;
    color: white !important; /* why is this not working? */
}

body {
    background-color: darkslategray;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    align-items: center;
    justify-items: center;
}

div {
    text-size-adjust: none;
    font-family: 'Monoton', cursive;
    text-align: center;
    background-color: darkcyan;
    
}

.img {
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    width: 85%;
    border-radius: 60%;
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: darkslategray;
}

.email {
    grid-column: 2;
    grid-row: 1;
    border-radius: 70%;
    
}

.GitHub {
    grid-column: 2;
    grid-row: 2;
    border-radius: 70%;
}

.linkedin {
    grid-column: 2;
    grid-row: 3;
    border-radius: 70%;
}
