#navbar {
    background-color: darkslategray !important;
}

.nav-item {
    font-style: oblique !important;
    font-size: larger !important;
    color: white !important; /* why is this not working? */
}

body {
    background-color: darkslategray;
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    
}

div {
    text-size-adjust: auto;
    text-align: center;
    align-items: stretch;
    background-color: rgb(55, 92, 92);
    font-family: 'Arapey', serif;
}

.name {
    grid-column: 1 / 11;
}

.photo {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.contact {
    grid-column: 1 / 4;
    grid-row: 4 / 4;
    padding: 5px;
}

.GitHub {
    grid-column: 1 / 4;
    grid-row: 5 / 5;
}

.linkedin {
    grid-column: 1 / 4;
    grid-row: 6 / 6;
}

.bio {
    grid-column: 1 / 11;
    grid-row: 7 / 10;
}

.video {
    grid-column: 4 / 11;
    grid-row: 2 / 7;
}